 /* designed by milad gharibi. instagram: web.script */
* {
/* border: 1px dotted blue; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.light-mode {
    --bg: #e4ebf5;
    --dark-shadow: #c2c8d0;
    --light-shadow: #ffffff;
    --primary: #4526f9;
    --font-color: #121212;
}

.dark-mode {
    --bg: #292E35;
    --dark-shadow: #21252a;
    --light-shadow: #313740;
    --primary: #4526f9;
    --font-color: #ffffff;
}

body {
    height: 100vh;
    background: var(--bg);
    font-family: '@Microsoft YaHei UI Light';
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 600px;
    border-radius: 40px;
    padding: 30px;
    background: var(--bg);
    /* color: rgb(41, 121, 255); */
    color: #121212;
    box-shadow: 
        4px 4px 8px var(--dark-shadow),
        -4px -4px 8px var(--light-shadow);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}
.card img {
    width: 80%;
    filter:sepia(0.1);
}
.card span {
    color: rgb(41, 121, 255);
}


.input-text {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    margin: 10px 0;
    font-size: large;

    background: var(--bg);
    box-shadow:  
        0 0 0 var(--bg),
        0 0 0 var(--bg),
        inset  4px 4px 8px var(--dark-shadow),
        inset -4px -4px 8px var(--light-shadow);
    
    transition: 0.4s;
}
.input-text:hover {
    box-shadow:  
        0 0 0 var(--bg),
        0 0 0 var(--bg),
        inset  2px 2px 4px var(--dark-shadow),
        inset -2px -2px 4px var(--light-shadow);

}
.input-text:focus {
    box-shadow: 
        4px 4px 8px var(--dark-shadow),
        -4px -4px 8px var(--light-shadow),
        inset  0 0 0 var(--bg),
        inset 0 0 0 var(--bg);
}


.button {
    width: 200px;
    height: 40px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;   

    background: var(--bg);
    box-shadow: 
        4px 4px 8px var(--dark-shadow),
        -4px -4px 8px var(--light-shadow),
        inset  0 0 0 var(--bg),
        inset 0 0 0 var(--bg);

    transition: .5s ease;
    cursor: pointer; 
}
.button:hover {
    box-shadow:  
        0 0 0 var(--bg),
        0 0 0 var(--bg),
        inset  4px 4px 8px var(--dark-shadow),
        inset -4px -4px 8px var(--light-shadow);
}


.hr {
    width: 100%;
    opacity: 0.5;
}
hr.light { 
    border: 1px solid var(--dark-shadow);
 }
hr.dark {
     border: 1px solid var(--light-shadow);
}

